

.container{
    padding-top: 33px;
    height: 100%;
    width: 100%;
    background-image:url("https://hdwallsource.com/img/2014/9/simple-wallpaper-27253-27970-hd-wallpapers.jpg");
  
}
.Header{
    height: 100%;
    width: 100%;
}
.display-3{
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 100px;
    font-family: arial, helvetica;
    width: 600px;
    margin: 10px auto;
    text-align: center;
}
.lead{
    float: left;
    margin: 5px 0 0 0px;
    font-size: 30px;
    color: #333;
    letter-spacing: 1px;
    padding: 30px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;

}
.about-story-content h1{
    text-align: left;
    padding:30px;
    text-shadow: 2px 2px 2px #CCCCCC;
}
.about-story-content{
    text-align: left;
    letter-spacing: 1px;
    font-size:30px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;  
}
.about-why-content h1{
    text-align: center;
    padding:30px;
    font-weight: bold;
}
.about-why-content li{
text-align:left;
font-size: 30px;
letter-spacing: 1px;
padding:10px;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
}
