<div class="container-fluid">
  <div class="row">
    <h3 class="mx-auto pt-3 pb-4">WE LOVE SIMPLICITY</h3>
    <img class="img-fluid about" src="/assets/img/about.jpg">
  </div>

  <div class="row pt-4 pb-2">
    <div class="col-2"></div>
  <div class="col">
    <h1>About Us</h1>
      <p>
        Emetra is a friendly software company that creates simple interface with spicy code. Our software is avaiable on the web & iOS
        device We are a creative design agency that you can consult your problem about IT with us. We do love to help solve your problem!.
        <strong>brands</strong>,
        <strong>websites</strong>, and
        <strong>products</strong>.
      </p>
  </div>
  <div class="col">
    <h1>Our Story</h1>
    <p>Emetra was born when a group of longtime freelancers and friends met up with a vision to join forces. As individuals
      we were accomplished—but as a team we knew we could accomplish more. Our collective skills and experience make us stronger—allowing
      us to build better brands, websites, and products for our clients.</p>
  </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
    <h1>Why choose Emetra?</h1>
    <ul>
      <li>
        <span>
          <strong>We’re</strong> family based company with strong bonds with clients. We will kindly listen to your problem as friend,and help you solve it like bestfriend.</span>
      </li>
      <li>
        <span>
          <strong>We’re</strong> a strong and nimble team. Our refined process allows us to keep timelines fast, service personal,
          and quality high.</span>
      </li>
      <li>
        <span>
          <strong>We’re</strong> hands on, and we like it that way. With Emetra you’ll avoid unnecessarily complicated systems. You’ll
          work directly with us—not through project managers.</span>
      </li>
      <li>
        <span>
          <strong>With</strong> hundreds of clients on our roster, we have a thoughtful and streamlined process to help you achieve
          your goals quickly.</span>
      </li>
      <li>
        <span>
          <strong>We</strong> have formed strategic relationships with other industry-leading professionals. We’ve worked with these
          fine folks, and have relied on their expertise to collaborate on Emetra projects:</span>
      </li>
    </ul>
    </div>
  </div>
</div>
<!-- /.container -->
