
<div class="container" >  
<div class="Header">
      <h1 class="display-3">About us!</h1>
      <p class="lead">Emetra is a software company that creates simple interface with spicy code. Our software is avaiable on the web & iOS device
          We are a creative design agency that has helped hundreds of clients build strong <strong>brands</strong>, <strong>websites</strong>, and <strong>products</strong>.
      </p>
      </div>
      <div class="about-story-content">
          <h1>Our Story</h1>
          <p>Emetra was born when a group of longtime freelancers and friends met up with a vision to join forces. As individuals we were accomplished—but as a team we knew we could accomplish more. Our collective skills and experience make us stronger—allowing us to build better brands, websites, and products for our clients.</p>
        </div>
    
    

    <!-- Page Features -->
    
    <div class="row text-center">
     
           
                <div class="col-lg-3 col-md-6 mb-4">
                </div>
                <div class="about-why-content">
                  <h1>Why choose Emetra?</h1>
                  <ul>
                    <li><span><strong>We’re</strong> a strong and nimble team. Our refined process allows us to keep timelines fast, service personal, and quality high.</span></li>
                    <li><span><strong>We’re</strong> hands on, and we like it that way. With Emetra you’ll avoid unnecessarily complicated systems. You’ll work directly with us—not through project managers.</span></li>
                    <li><span><strong>With</strong> hundreds of clients on our roster, we have a thoughtful and streamlined process to help you achieve your goals quickly.</span></li>
                    <li><span><strong>We</strong> have formed strategic relationships with other industry-leading professionals. We’ve worked with these fine folks, and have relied on their expertise to collaborate on Emetra projects:</span></li>
                  </ul>
                </div>
              </div>
              <!-- /.row -->
</div><!-- /.container -->
    
