
<carousel>
  <slide>
    <img class="img-fluid" src="http://wallpaperget.com/images/1920x1080-wallpaper-23.jpg">
    <div class="carousel-caption d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img class="img-fluid" src="http://wallpaperget.com/images/1920x1080-wallpaper-2.jpg">
    <div class="carousel-caption d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img class="img-fluid" src="http://wallpaperget.com/images/1920x1080-wallpaper-31.jpg">
    <div class="carousel-caption d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Services</h2>
          <h3 class="section-subheading text-muted">Here are some of what we can do for you</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-skyblue"></i>
            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">E-Commerce</h4>
          <p class="text-muted">We make E-Commerce website and app for starting your online businesses.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-skyblue"></i>
            <i class="fa fa-building fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Company Profile</h4>
          <p class="text-muted">Showcase your company or yourself by creating a profile website with us.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-skyblue"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web Application</h4>
          <p class="text-muted">Responsive design website with functions for your needs.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-skyblue"></i>
            <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Mobile Apps</h4>
          <p class="text-muted">We make apps for both iOS and Android, just tell us how you want it.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-skyblue"></i>
            <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">GPS Tracking</h4>
          <p class="text-muted">Not only tracking your vehicle, you can also create routes, checkpoints, and customize your report.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-skyblue"></i>
            <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Web & Apps Maintenance</h4>
          <p class="text-muted">Already have a web or app? Make sure too keep it running well by using our maintenance service.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- more info -->
  <section id="tagline">
    <h5>
      For more info please kindly contact us.
      <span>
        <button type="button" class="btn btn-outline-light" routerLink="/contact">click here</button>
      </span>
    </h5>
  </section>

   <!-- Clients -->
   <section class="clients">
          <h2 class="client section-heading">Our Clients</h2>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#">
            <img width="100px" class="img-fluid d-block mx-auto" src="\assets\img\brother_ishop.png" alt="" >
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="https://blackrockdigital.github.io/startbootstrap-agency/img/logos/designmodo.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="https://blackrockdigital.github.io/startbootstrap-agency/img/logos/themeforest.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="https://blackrockdigital.github.io/startbootstrap-agency/img/logos/creative-market.jpg" alt="">
          </a>
        </div>
      </div>
  </section>
