.carousel-item img {
    max-height: 863px;
    height: auto;
    width: 100%;
  -webkit-animation-duration: 2s;
}

h1{
  font-size: 90px;
  color: black;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

h4{
    color: black;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

#service .carousel2 {
    padding-top: 10px;
    max-height: 400px;
    height: 100%;
    width: 100%;
  -webkit-animation-duration: 2s;
}

#service .animated {
    color: white;
}

#tagline{
    padding: 30px;
    max-height: 100px;
    height: auto;
    background-color: lightskyblue;
    color: white;
    text-align: center;
}

.clients{
    padding: 30px;
}

.client{
    text-align: center;
    padding-bottom: 20px;
}

.col-md-4{
    padding-top: 20px;
    color: black;
}
