<carousel>
  <slide>
    <img class="img-fluid animated fadeIn" src="/assets/img/slide1.jpg">
    <div class="carousel-caption d-md-block">
      <h1 class="animated fadeInRight">We're Emetra</h1>
      <h4 class="animated fadeIn">We're here to help you grow your business.</h4>
    </div>
  </slide>
  <slide>
    <img class="img-fluid animated fadeIn" src="/assets/img/slide2.jpg">
    <div class="carousel-caption d-md-block">
      <h1 class="animated bounceIn">We're Emetra</h1>
      <h4 class="animated fadeIn">We make sure that our services are making your company stronger.</h4>
    </div>
  </slide>
  <slide>
    <img class="img-fluid animated fadeIn" src="/assets/img/slide3.jpg">
    <div class="carousel-caption d-md-block">
      <h1 class="animated zoomIn">We're Emetra</h1>
      <h4 class="animated fadeIn">We're open for your inputs for development in the future.</h4>
    </div>
  </slide>
</carousel>

<section id="service">
  <carousel>
    <slide>
      <a href="/services"><img class="carousel2 img-fluid animated fadeIn" src="/assets/img/problem.jpg"></a>
      <div class="carousel-caption d-md-block">
        <h2 class="animated fadeInRight">Tell us your problem</h2>
        <h4 class="animated fadeIn">We need to know what holds your business back from growing.</h4>
      </div>
    </slide>
    <slide>
      <a href="/services"><img class="carousel2 img-fluid animated fadeIn" src="/assets/img/need.jpg"></a>
      <div class="carousel-caption d-md-block">
        <h2 class="animated bounceIn">Tell us what you need</h2>
        <h4 class="animated fadeIn">Therefore we can give you some choices of solution to get rid of your problem.</h4>
      </div>
    </slide>
    <slide>
      <a href="/services"><img class="carousel2 img-fluid animated fadeIn" src="/assets/img/make.jpg"></a>
      <div class="carousel-caption d-md-block">
        <h2 class="animated zoomIn">We'll make it for you</h2>
        <h4 class="animated fadeIn">Whatever you need, you'll have it.</h4>
      </div>
    </slide>
  </carousel>
</section>

  <!-- more info -->
  <section id="tagline">
    <h5>
      For more info please kindly contact us
      <span>
        <button type="button" class="btn btn-outline-light" routerLink="/contact">here</button>
      </span>
    </h5>
  </section>

   <!-- Clients -->
   <section class="clients">
          <h2 class="client section-heading">Our Clients</h2>
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
          <a href="#">
            <img width="100px" class="img-fluid d-block mx-auto" src="\assets\img\brother_ishop.png" alt="" >
          </a>
        </div>
         <!--<div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="https://blackrockdigital.github.io/startbootstrap-agency/img/logos/designmodo.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="https://blackrockdigital.github.io/startbootstrap-agency/img/logos/themeforest.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="https://blackrockdigital.github.io/startbootstrap-agency/img/logos/creative-market.jpg" alt="">
          </a>
        </div>-->
      </div>
  </section>
